.Tile {
    font-size: 0.5vw;
    margin: 5px;
    padding: 5px;
    /* min-height: 100px; */
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.Tile > h1{
    font-weight: bold;
    /* font-size: 17px; */
}

.Tile > h2{
    font-family: sans-serif;
}

.Tile > h3{
    font-size: 0.7vw;
}

.advanced{
    background: radial-gradient(#de213d, #d01632);
}

.intermediate{
    background: radial-gradient(#d5b828, #c4a81e);
}

.beginner{
    background: radial-gradient(#37d72c, #2ac420);
}

.children{
    background: radial-gradient(#e741ee, #d227d9);
}

.Tile:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Tile:active{
    opacity: 0.9;
}