.ClimberProfileComponent{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-badge{
    background-color:rgb(255, 255, 255);
    width: 90%;
    border-radius: 20px;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.alert{
    display: none;
}

.passes{
    width: 90%;
}

.pass-badge{
    margin-left: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.buttons > * {
    width: 130px;
    margin-right: 5px;
}


.pass-tables{
    margin-top: 20px;
}

.pass-tables > * {
    margin-bottom: 25px;
}

/* tablet */
@media (min-width: 700px){
    .top-badge{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .alert{
        display: block;
        margin-top: 10px;
        width: 89%;
        border-radius: 20px;
    }
}

/* wide screen */
@media (min-width: 992px){

}