.navbar {
    background-color: rgb(37, 12, 78);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
  }

  .logo{
    width: 8rem;
  }


  @media (min-width: 992px) {
    .menu {
      display: none;
    }
  }

 
